* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.input_fields_wrap{
    max-width: 350px;
}
.input_fields_wrap input[type=text]{
    width:100%;
    margin:2px 0;
}

.w3-myFont {
    font-family: "Times New Roman", cursive, sans-serif;
    font-size: 36px;
}

.p-style{
    font-family: "Times New Roman", cursive, sans-serif;
    margin: 5px;
}
#editor-container {
    height: 375px;
}
