<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chapter Two</title>
    <link rel="stylesheet" href="../../css/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="../../js/sidebar.js"></script>
    <script src="../../js/main.js"></script>
    <style>
        .w3-myFont {
            font-family: "Times New Roman", cursive, sans-serif;
            font-size: 36px;
        }</style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="ngLocale">


    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">Close &times;
        </button>
        <a href="title.html" class="w3-bar-item w3-button">Cover Page</a>
        <a href="approval.html" class="w3-bar-item w3-button">Approval</a>
        <a href="chap1.html" class="w3-bar-item w3-button">Chapter One</a>
        <a href="#" class="w3-bar-item w3-button">Chapter Two</a>
        <a href="#" class="w3-bar-item w3-button">Chapter Three</a>
        <a href="#" class="w3-bar-item w3-button">Chapter Four</a>
        <a href="#" class="w3-bar-item w3-button">Chapter Five</a>
    </div>

    <div ng-app="ngLocale" id="main">

        <div class="w3-black">
            <button id="openNav" class="w3-button w3-black w3-xlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
                <h1 class="w3-center">Project Template Generator</h1>
            </div>
        </div>

        <div class="w3-card-4">
            <div class="w3-container w3-gray">
                <h2 class="w3-center"><strong>CHAPTER TWO</strong></h2>
            </div>

            <!--Chapter Two Input-->
            <form id="ch2_input" class="w3-container">
                <label>Literature Review</label>
                <input placeholder="Lit" class="back-box w3-input" type="text" ng-model="lit">

                <label>Title</label>
                <input placeholder="stat" class="stat-box w3-input" type="text">


                <!--<input placeholder="tit1" type="text" ng-model="tit1">
                <input placeholder="tit2" type="text" ng-model="tit2">
                <input placeholder="tit3" type="text" ng-model="tit3">-->
            </form>

            <!--Add Heading Button-->
            <button id="headed" class="w3-button w3-margin" onclick="newHead()">Add New Heading</button>
            <a class="w3-btn" href="../../editor/html/themes/dark.html" target="_blank">Open Editor</a>
        </div>

        <div class="w3-container w3-section">
            <h1 class="w3-center w3-myFont">Literature Review</h1>
            <p class="p1" ng-bind="lit"></p>
        </div>

        <!--  <div class="w3-container">
              <h1 class="w3-myFont w3-center" ng-bind="tit1">Title 1</h1>
              <p class="p2"></p>
          </div>
          <div class="w3-container">
              <h1 class="w3-myFont w3-center" ng-bind="tit2">Title 2</h1>
              <p class="p2"></p>
          </div>
          <div class="w3-container">
              <h1 class="w3-myFont w3-center" ng-bind="tit3">Title 3</h1>
              <p class="p2"></p>
          </div>-->

    </div>

</div>
</body>
</html>